<h1> Listing One </h1>
<div class="container-list">
  <%= link_to "Back", :back, class: "btn btn-info" %>
  <%= link_to "Create a New Flat", new_flat_path, class: "btn btn-success" %>
</div>

<div class="container-list">
  <% @flats.each do |flat| %>
    <h4> <%= flat.title %> </h4>
    <p> <strong>Address: </strong> <%= flat.address %>, <%= flat.city %> </p>
    <p> <strong>Description: </strong><%= flat.description %> </p>
    <p> <strong>Price: </strong><%= flat.price %> €/night </p>
    <p> <strong>Capacity: </strong><%= flat.size %> people</p>

    <%= link_to "Edit", edit_flat_path(flat), class: "btn btn-primary" %>
    <%= link_to "Delete", flat_path(flat), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
