<div class="container">
 <%# main listing  %>
  <div class="col-md-12">
    <div class="about-listing">
      <h3 class="fw-bold mb-3 mt-3">Listing Title : <%= @listing.title%></h3>
        <% if @listing.photos.attached? %>
          <% photo = @listing.photos.first %>
          <%= cl_image_tag(@listing.photos.first.key, width: 600, height: 400, crop: :fill, class: "rounded-4") %>
        <% else %>
          <!-- If no photo is attached, you may display a placeholder or handle it differently -->
          <p>No photo available</p>
        <% end %>
    </div>
  </div>

  <div class = "d-inline-flex justify-content-between w-100 mt-3">
    <div class="listing-details" style="margin-right:20px;">
        <h3 class="fw-bold"> This Is Supposed To Be Some Subtitle / Address. So Just Putting Some Random Words First </h3>
        <div>
          <h6 style="font-style: italic; background-color: #d6d6cd; width: 120px;">Hosted By <%= @listing.user.username %></h6>
        </div>
        <p id="description">Description: <%= @listing.description%></p>
        <div class="listing-info">
            <div class="info-block">
              <p><i class="fas fa-home"></i> Listing Type</p>
              <p><i class="fas fa-users"></i> <%= @listing.user.username%></p>
              <p><i class="fas fa-euro-sign"></i> <%= @listing.price%>/night</p>
            </div>
            <div class="info-block">
              <p><i class="far fa-map"></i> Location</p>
              <p><i class="fas fa-wifi"></i> Wi-Fi</p>
              <p><i class="fas fa-tv"></i> Tv</p>
            </div>
          </div>
        </div>

    <%# booking form %>
    <div style="min-width: 20vw;">
      <div class="card p-3 m-3 bg-white" id="booking-form" style="border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
        <!-- Include any additional content or components specific to your single listing page -->
        <!-- Single Product Listing with Small Bounding Box -->
        <h4 class="fw-bold">SGD<%= @listing.price %> / night</h4>

        <%= simple_form_for([@listing, Booking.new]) do |f| %>
          <div class="form-group">
            <%= f.input :start_date, as: :string,class: 'form-control', input_html: {
              "data-controller" => "datepicker"
            } %>
          </div>

          <div class="form-group">
            <%= f.input :end_date, as: :string,class: 'form-control', input_html: {
              "data-controller" => "datepicker"
            } %>
          </div>

          <%= f.submit "Book", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

  <%# review container %>
  <div class="mt-4">
    <div class="">
      <div class="review-container">
        <h3 class="fw-bold">Reviews</h3>
        <% if @booking && !@booking.review %>
          <div class="card rounded-4 p-4 bg-white mb-4">
              <h3 align="center">Leave Your Review</h3>
              <%= simple_form_for([ @booking, @review ]) do |f| %>
                <%= f.input :rating, as: :select, collection: (1..5), input_html: { id: 'rating' } %>
                <%= f.input :content %>
                <%= f.submit 'Create review', class: "btn btn-primary text-white btn-lg", style: "width: 100%" %>
              <% end %>
          </div>
        <% end %>

        <% if @reviews.present? %>
          <% @reviews.each do |review| %>
            <ul class="lists list-group list-group-flush">
              <li class="border-bottom pt-3" style="list-style: none;">
                <div class="d-inline-flex">
                  <h5 class="fw-bold">User Id: <%= review.user_id %></h5>
                  <small class="mx-3"><%= distance_of_time_in_words(Time.now, review.created_at) %> ago</small>
                </div>
                <div class="d-flex mt-1">
                  <% rating = review.rating %>
                  Rating: <%= rating.times do %> ⭐
                          <% end %>
                </div>
                <p id="review-<%= review.id %>">Comments: <%= review.content %></p>
              </li>
            </ul>
          <% end %>
        <% else %>
          <p>No reviews available</p>
        <% end %>
      </div>
    </div>
  </div>

</div>
