<div class="images d-flex justify-content-center">
  <div class="about-listing d-flex">
    <img src="<%= @listing%>" alt="listing_image">
    <div class="d-flex flex-column">
      <h3>Listing Title - Host: <%= @listing%></h3>
      <p id="description"><%= @listing.description%></p>
      <div class="d-flex p-3 c-gap">
        <div class="d-flex flex-column">
          <p><i class="fas fa-home"></i> Listing Type</p>
          <p><i class="fas fa-users"></i> <%= @listing%></p>
          <p><i class="fas fa-euro-sign"></i> <%= @listing%>/night</p>
        </div>
        <div class="d-flex flex-column">
          <p><i class="far fa-map"></i> Location</p>
          <p><i class="fas fa-wifi"></i> Wi-Fi</p>
          <p><i class="fas fa-tv"></i> Tv</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <!-- Include any additional content or components specific to your single listing page -->
  </div>
</div>
