<!DOCTYPE html>
<html>
  <head>
    <title>AirbnbNana</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<<<<<<< HEAD
    <h1>Hello from Chloe</h1>
=======
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
>>>>>>> 1cdec72170295f7f47da82d80bdfd84868dc1341
    <%= yield %>
  </body>
</html>
